/* App.css or index.css */
/* .App {
  display: flex;
  justify-content: center; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 20px; 
}

.campaign-card-container {
  display: flex;
  justify-content: center;
  align-items: center; 
} */

.navbar-link {
  position: relative;
  display: inline-block;
  padding-bottom: 3px; /* Adjust as needed */
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Height of the line */
  background-color: #222; /* Color of the line */
  transition: width 0.3s ease;
}

.navbar-link:hover::after {
  width: 100%;
}

.vector-image {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.vector-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, rgba(249, 249, 235, 1) 20%, rgba(249, 249, 235, 1) 20px, rgba(249, 249, 235, 1) 100%);
  mask-image: radial-gradient(circle at center, transparent 0%, black 70%);
}

.text-content {
  position: relative;
  z-index: 1; /* Ensure the text stays in front of the overlay */
}

/* form fields */
/* styles.css */
.custom-form input {
  width: 100%;
  padding: 0.5rem; /* p-2 in Tailwind */
  border: 1px solid lightgray;
  border-radius: 0.5rem; /* rounded-lg in Tailwind */
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

.custom-form input:focus {
  box-shadow: 0 0 0 3px rgba(178, 255, 191, 0.3); /* focus:ring-palegreen-300 in Tailwind */
}
